@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.linkItem {
  position: relative;
  @include displayFlex($gap: 0.2rem);

  .linkItem__dropdown {
    position: absolute;
    top: 5.8rem;
    z-index: 1;
    border-radius: 0.4rem;
    background-color: $black1;
    color: $white;
    @include h3;
  }

  .linkItem__activeLabel {
    color: $blue2;
  }
}
